@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100%;
  margin: 0px;
  overflow-y: scroll;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

}

.header,
.hero-section,
.footer {
  background-color: #1F2937;
}


/* Header */

.header {
  display: flex;
  justify-content: space-between;
  padding: 8px 84px;

}


.header-logo,
.right-links{
  display: flex;
  gap: 15px;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 900;
}

.right-links{
  align-items: center;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0%;
}

a {
  text-decoration: none;
  color: white;

}



/* container */
.container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

/* Hero Section */

.hero-section{
  display: flex;
  flex-grow: 1;
  padding: 64px 84px;
  justify-content: space-between;
  gap: 20px;
}

.hero-section .left,
.hero-section .right{
  display: flex;
  justify-content: center;
}

.hero-section .left{
  flex-direction: column;
}

.hero-section img{
  width: 400px;
  height: 220px;
  align-self: flex-start;
}

.hero-section .main-text {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.hero-section .secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-section button{
  color: white;
  background-color: #3882F6;
  font-weight: 900;
  border: none;
  border-radius: 6px;
  padding: 5px 16px;
}


/* Information Section */
.information{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0px 40px;
  padding-bottom: 64px;
  
}

.title {
  font-size: 36px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  margin: 32px 0px;
  
}

.parent{
  display: flex;
  justify-content: center;
  gap: 52px;
  
}
.child{
  width: 150px;
  text-align: center;
}

.information img{
  width: 150px;
  height: 150px;
  border-radius: 12%;
  border: 3px solid #3882F6;
  
}


/* Quotes Section */
.quote{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 32px 150px;
  background-color: #E5E7EB;
}

.quote .text{
  font-style: italic;
  font-size: 36px;
  color: #1F2937;
  margin: 0px;
  
}

.quote .credit{
  font-weight: 900;
  align-self: flex-end;
  margin: 0px;
  margin-top: 10px;
  margin-right: 20px;
}


/* Contact-Sign up */
.sign-up{
  display: flex;
  flex-grow: 1;
  height: 300px;
  justify-content: center;
  
}

.sign-up .parent{
  display: flex;
  align-self: center;
  align-items: center;
  padding: 40px 80px;
  border-radius: 6px;
  color: white;
  background: #3882F6;
}

.sign-up .main-text{
  font-weight: 900;
  font-size: larger;
}

.sign-up button{
  color: white;
  background-color: #3882F6;
  font-weight: 900;
  border: 2px solid white;
  border-radius: 6px;
  padding: 5px 16px;
}


/* Footer */
.footer {
  text-align: center;
  height: 50px;
  color: #F9FAF8;
  padding: 8px 0px;
  margin-bottom: -200px;
  align-content: center;
}