@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header,
.hero-section,
.footer {
  background-color: #1F2937;
}


/* Header */

.header {
  display: flex;
  justify-content: space-between;
  padding: 8px 0px;

}

.header-logo,
.right-links{
  display: flex;
  gap: 15px;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 900;
}

.right-links{
  align-items: center;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0%;
}

a {
  text-decoration: none;
  color: white;

}



/* container */
.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}


/* Hero Section */

.hero-section{
  display: flex;
  flex: 1;
}
.hero-section .main-text {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.hero-section .secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}



/* Information Section */
.information{
  display: flex;
  flex: 1;
}


/* Quotes Section */
.quote{
  display: flex;
  flex: 1;
}


/* Contact-Sign up */
.sign-up{
  display: flex;
  flex: 1;
}



/* Footer */
.footer {
  text-align: center;
  color: #F9FAF8;
  padding: 8px 0px;
}